@using ShenDeng.Framework.Tools

@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>神灯的商店</h3>

    @Request[Keys.ErrorMessage]
    @ViewData[Keys.ErrorMessage]


    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="input_outer">
            <span class="u_user"></span>
            @Html.TextBox(Keys.UserName, "", new { @class = "text", @style = "color: #000000 !important", placeholder = "请输入账户" })
        </div>
        <div class="input_outer">
            <span class="u_user"></span>
            @Html.Password(Keys.PassWord, "", new { @class = "text", @style = "color: #000000 !important", placeholder = "请输入密码" })
        </div>

        <li> 还没有账户? 点击 @Html.ActionLink("注册", "Regist")</li>
        <button class="act-but submit" type="submit" style="width: 330px; color: #FFFFFF">登录</button>
    }

    @*<script language="JavaScript">
            function MyAutoRun() {
                login();
            }
                window.onload = MyAutoRun(); //仅需要加这一句
        </script>*@

    @*<form action="Login" name="f" method="post">
            <div class="input_outer">
                <span class="u_user"></span>
                <input id="ID" name="logname" class="text" style="color: #000000 !important" type="text" placeholder="请输入账户">
            </div>

            <div class="input_outer">
                <span class="us_uer"></span>
                <input id="PASSWORD" name="logpass" class="text" style="color: #000000 !important; position: absolute; z-index: 100;" value="" type="password" placeholder="请输入密码">
            </div>

            <div id="LOGIN" class="mb2">
                还没有账户？点击 @Html.ActionLink("注册", "Regist")
                <a class="act-but submit" href="javascript:;" onclick="login()" style="color: #FFFFFF">登录</a>
               <!-- 还有BUG!  <button class="act-but submit" style="color: #FFFFFF">登录</button> -->
            </div>
        </form>*@

