@using ShenDeng.Framework.Tools

@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>神灯的商店</h3>

@ViewData[Keys.ErrorMessage]
@using (Html.BeginForm("Regist", "Account", FormMethod.Post))
{
    <div class="input_outer">
        <span class="u_user"></span>
        @Html.TextBox(Keys.UserName, "", new {@class="text" , @style = "color: #000000 !important", placeholder="请输入账户"})
    </div>
    <div class="input_outer">
        <span class="u_user"></span>
        @Html.Password(Keys.PassWord, "", new {@class="text" , @style = "color: #000000 !important", placeholder="请输入密码"})
    </div>
    <div class="input_outer">
        <span class="u_user"></span>
        @Html.Password(Keys.ConPassWord, "", new {@class="text" , @style = "color: #000000 !important", placeholder="确认密码"})
    </div>
    <li>已有账户！点击 @Html.ActionLink("登录","Login")</li>
    <button class="act-but submit" type="submit" style="width: 330px; color: #FFFFFF">注册</button>
}

